{% extends "layout.html" %}

{% block content %}
    <div class="container">

        <p>
        <h3>iPhone history</h3>
            <br>
            The very first iPhone was unveiled in January 2007 at the MacWorld convention. Steve Jobs revealed what Apple had been developing for nearly 3 years and, for its time, it represented the cutting edge of technology.
            11 years on, from that unveiling, the iPhone is still top of the hill. At one time, market shares did start to decline, especially as they were under constant attack from cheaper smartphones, such as Samsung and LG. However, their last couple of devices have seen that share shoot straight back up, allowing Apple to keep on polishing their crown.



        </p>


        <br>
        <br>

        <p>
           <h3>iPhones Release date</h3>
           <br>
        1. June 29th, 2007: The iPhone 2G – The First iPhone was released  <br>
        2. July 11th, 2008: iPhone 3G   <br>
        3. June 19th, 2009: iPhone 3GS   <br>
        4. June 24th, 2010: iPhone 4   <br>
        5. October 14th, 2011: iPhone 4S  <br>
        6. September 21st 2012: iPhone 5  <br>
        7. September 20th 2013: iPhone 5S and iPhone 5C  <br>
        8. September 20th 2013: iPhone 5S and iPhone 5C  <br>
        9. September 19, 2014: iPhone 6 and iPhone 6 Plus  <br>
        10. September 25, 2015: iPhone 6S and iPhone 6S Plus  <br>
        11. March 31, 2016: iPhone SE  <br>
        12. September 16, 2016: iPhone 7 and iPhone 7 Plus  <br>
        13. September 22, 2017: iPhone 8 and iPhone 8 Plus  <br>
        14. November 3, 2017: iPhone X  <br>
        15. September 21, 2018: iPhone XS and iPhone XS Max  <br>
        16. October 26, 2018: iPhone XR  <br>





        </p>
        <br>
        <br>




        <p>
            <h3> iPhone compatitors </h3> <br>

        1. Samsung: Galaxy, Galaxy Note  <br>
        2. Huawei: P20/P20 Pro series   <br>
        3. Xiaomi: Redmi 5A, 6A, & Note 5/5Pr  <br>
        4. OPPO: F9, K1  <br>
        5. LG: G series  <br>




        </p>

       <br>
        <br>
        <br>
        <h3>Latest iphones comparison</h3>



      <table class="table table-bordered">

          <thead >

          <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
          </tr>

          </thead>

          <tbody>

          <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
          </tr>

          <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
          </tr>

          <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>@twitter</td>
          </tr>

          <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>@twitter</td>
          </tr>

          </tbody>

      </table>

    </div>
      {% endblock %}
